In [1]:
import pandas as pd

In [2]:
file = "InternationalGDPv1.xlsx"

In [3]:
#Reading .xlsx file
df = pd.read_excel(file)

In [4]:
#Dropping unnamed column
df2 = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [5]:
df2.head()

,,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Post-demographic dividend,Pre-demographic dividend,Small states,South Asia,South Asia (IDA & IBRD),Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (IDA & IBRD countries),Upper middle income,World
0,1980,"3,641,723,322.0",..,"42,346,380,830.8",..,"446,416,105.8","5,930,503,401.0","131,431,026.7","76,961,923,741.1",..,...,"8,541,374,599,328.6","222,633,133,729.6","52,920,809,050.9","235,962,175,079.4","235,962,175,079.4","281,014,235,675.3","280,871,358,819.8","281,014,235,675.3","1,658,117,418,563.1","11,336,590,644,916.5"
1,1981,"3,478,787,909.1",..,"44,348,672,667.9",..,"388,958,731.3","5,550,483,036.0","147,841,734.4","78,676,842,366.6",..,...,"8,637,928,003,047.8","309,460,300,718.2","54,682,380,537.3","250,139,444,088.2","250,139,444,088.2","388,072,421,659.7","387,927,210,056.8","388,072,421,659.7","1,792,584,208,500.0","11,727,603,962,156.2"
2,1982,..,..,"45,207,088,715.6",..,"375,895,956.4","5,550,483,036.0","164,369,278.9","84,307,486,836.7",..,...,"8,600,059,519,334.6","289,551,922,313.3","54,421,699,623.5","258,792,394,454.4","258,792,394,454.4","356,625,734,424.5","356,486,445,584.4","356,625,734,424.5","1,711,730,545,777.3","11,609,770,331,649.2"
3,1983,..,..,"48,801,369,800.4",..,"327,861,832.9","5,784,341,596.4","182,144,093.0","103,979,106,777.9",..,...,"8,924,955,878,224.4","231,702,670,397.5","52,649,730,943.7","273,951,470,823.6","273,951,470,823.6","313,903,816,535.0","313,763,854,086.1","313,903,816,535.0","1,626,146,012,027.4","11,840,065,192,866.6"
4,1984,..,"1,857,338,011.9","53,698,278,906.0",..,"330,070,689.3","6,131,475,065.2","208,372,846.3","79,092,001,998.0",..,...,"9,327,146,561,384.7","212,187,154,554.0","52,167,499,323.3","272,676,947,697.2","272,676,947,697.2","274,892,251,646.2","274,745,689,094.8","274,892,251,646.2","1,674,641,532,082.2","12,271,599,306,473.0"

In [6]:
#Removing non numeric data
df3 = df2.drop(42, axis=0)

In [7]:
df3.tail()

,,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Post-demographic dividend,Pre-demographic dividend,Small states,South Asia,South Asia (IDA & IBRD),Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (IDA & IBRD countries),Upper middle income,World
37,2017,"18,896,352,021.9","13,019,689,336.7","170,097,014,589.1","612,000,000.0","3,000,180,750.1","68,972,769,395.6","1,467,977,777.8","643,628,665,302.2","11,527,458,565.7",...,"47,532,321,468,162.7","1,301,379,794,228.3","482,789,606,323.1","3,433,881,936,826.1","3,433,881,936,826.1","1,712,748,573,322.8","1,711,173,842,424.6","1,712,748,573,322.8","21,644,841,419,480.9","81,409,498,368,206.0"
38,2018,"18,418,848,299.6","15,156,432,309.9","174,910,878,623.0","639,000,000.0","3,218,316,013.2","77,792,944,471.9","1,605,944,444.4","524,819,742,918.7","12,457,941,907.0",...,"50,380,112,486,266.0","1,356,085,560,647.6","529,991,321,740.3","3,534,209,018,062.6","3,534,209,018,062.6","1,782,358,990,338.7","1,780,721,336,679.5","1,782,358,990,338.7","23,304,501,933,943.9","86,466,958,777,951.7"
39,2019,"18,904,490,262.9","15,401,830,754.1","171,767,403,748.2","647,000,000.0","3,155,065,487.5","69,309,110,145.8","1,687,533,333.3","447,754,609,218.7","13,619,291,361.3",...,"50,879,345,159,852.0","1,401,120,806,330.9","521,527,918,170.4","3,653,950,915,835.8","3,653,950,915,835.8","1,803,362,506,027.6","1,801,676,535,161.8","1,803,362,506,027.6","23,681,744,716,187.8","87,654,250,895,445.7"
40,2020,"20,143,442,151.0","15,131,866,270.6","145,009,181,490.6","716,000,000.0","2,891,022,273.0","53,619,073,505.1","1,370,281,481.5","385,540,224,628.3","12,641,697,523.3",...,"49,697,795,866,801.5","1,316,350,192,560.3","453,728,268,086.0","3,487,013,484,521.6","3,487,013,484,521.6","1,719,009,523,108.9","1,717,749,672,914.6","1,719,009,523,108.9","22,851,374,975,033.8","85,116,336,691,718.7"
41,2021,"14,786,861,638.5","18,255,787,479.2","163,044,443,983.8","709,000,000.0","3,330,281,523.5","67,404,287,260.3","1,471,125,925.9","487,227,339,102.7","13,861,409,968.8",...,"54,972,726,099,855.9","1,434,259,111,659.6","538,706,065,410.0","4,088,770,638,066.9","4,088,770,638,066.9","1,929,052,252,557.4","1,927,598,981,029.1","1,929,052,252,557.4","27,104,087,422,750.6","96,527,425,918,257.8"

In [8]:
#Preparing for float data type switch 
df4 = df3.replace(
    {'..': 0.0})

In [9]:
df4.head()

,,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Post-demographic dividend,Pre-demographic dividend,Small states,South Asia,South Asia (IDA & IBRD),Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (IDA & IBRD countries),Upper middle income,World
0,1980,"3,641,723,322.0",0.0,"42,346,380,830.8",0.0,"446,416,105.8","5,930,503,401.0","131,431,026.7","76,961,923,741.1",0.0,...,"8,541,374,599,328.6","222,633,133,729.6","52,920,809,050.9","235,962,175,079.4","235,962,175,079.4","281,014,235,675.3","280,871,358,819.8","281,014,235,675.3","1,658,117,418,563.1","11,336,590,644,916.5"
1,1981,"3,478,787,909.1",0.0,"44,348,672,667.9",0.0,"388,958,731.3","5,550,483,036.0","147,841,734.4","78,676,842,366.6",0.0,...,"8,637,928,003,047.8","309,460,300,718.2","54,682,380,537.3","250,139,444,088.2","250,139,444,088.2","388,072,421,659.7","387,927,210,056.8","388,072,421,659.7","1,792,584,208,500.0","11,727,603,962,156.2"
2,1982,0.0,0.0,"45,207,088,715.6",0.0,"375,895,956.4","5,550,483,036.0","164,369,278.9","84,307,486,836.7",0.0,...,"8,600,059,519,334.6","289,551,922,313.3","54,421,699,623.5","258,792,394,454.4","258,792,394,454.4","356,625,734,424.5","356,486,445,584.4","356,625,734,424.5","1,711,730,545,777.3","11,609,770,331,649.2"
3,1983,0.0,0.0,"48,801,369,800.4",0.0,"327,861,832.9","5,784,341,596.4","182,144,093.0","103,979,106,777.9",0.0,...,"8,924,955,878,224.4","231,702,670,397.5","52,649,730,943.7","273,951,470,823.6","273,951,470,823.6","313,903,816,535.0","313,763,854,086.1","313,903,816,535.0","1,626,146,012,027.4","11,840,065,192,866.6"
4,1984,0.0,"1,857,338,011.9","53,698,278,906.0",0.0,"330,070,689.3","6,131,475,065.2","208,372,846.3","79,092,001,998.0",0.0,...,"9,327,146,561,384.7","212,187,154,554.0","52,167,499,323.3","272,676,947,697.2","272,676,947,697.2","274,892,251,646.2","274,745,689,094.8","274,892,251,646.2","1,674,641,532,082.2","12,271,599,306,473.0"

In [10]:
#Preparing for float data type switch
df5 = df4.fillna(0)

In [11]:
df5.head()

,,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Post-demographic dividend,Pre-demographic dividend,Small states,South Asia,South Asia (IDA & IBRD),Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (IDA & IBRD countries),Upper middle income,World
0,1980,"3,641,723,322.0",0.0,"42,346,380,830.8",0.0,"446,416,105.8","5,930,503,401.0","131,431,026.7","76,961,923,741.1",0.0,...,"8,541,374,599,328.6","222,633,133,729.6","52,920,809,050.9","235,962,175,079.4","235,962,175,079.4","281,014,235,675.3","280,871,358,819.8","281,014,235,675.3","1,658,117,418,563.1","11,336,590,644,916.5"
1,1981,"3,478,787,909.1",0.0,"44,348,672,667.9",0.0,"388,958,731.3","5,550,483,036.0","147,841,734.4","78,676,842,366.6",0.0,...,"8,637,928,003,047.8","309,460,300,718.2","54,682,380,537.3","250,139,444,088.2","250,139,444,088.2","388,072,421,659.7","387,927,210,056.8","388,072,421,659.7","1,792,584,208,500.0","11,727,603,962,156.2"
2,1982,0.0,0.0,"45,207,088,715.6",0.0,"375,895,956.4","5,550,483,036.0","164,369,278.9","84,307,486,836.7",0.0,...,"8,600,059,519,334.6","289,551,922,313.3","54,421,699,623.5","258,792,394,454.4","258,792,394,454.4","356,625,734,424.5","356,486,445,584.4","356,625,734,424.5","1,711,730,545,777.3","11,609,770,331,649.2"
3,1983,0.0,0.0,"48,801,369,800.4",0.0,"327,861,832.9","5,784,341,596.4","182,144,093.0","103,979,106,777.9",0.0,...,"8,924,955,878,224.4","231,702,670,397.5","52,649,730,943.7","273,951,470,823.6","273,951,470,823.6","313,903,816,535.0","313,763,854,086.1","313,903,816,535.0","1,626,146,012,027.4","11,840,065,192,866.6"
4,1984,0.0,"1,857,338,011.9","53,698,278,906.0",0.0,"330,070,689.3","6,131,475,065.2","208,372,846.3","79,092,001,998.0",0.0,...,"9,327,146,561,384.7","212,187,154,554.0","52,167,499,323.3","272,676,947,697.2","272,676,947,697.2","274,892,251,646.2","274,745,689,094.8","274,892,251,646.2","1,674,641,532,082.2","12,271,599,306,473.0"

In [12]:
#Preparing for float data type switch
cols = df5.columns

for col in cols:
    df5[col]=df5[col].astype(str).str.replace(',','')

In [13]:
df5.head()

,,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Post-demographic dividend,Pre-demographic dividend,Small states,South Asia,South Asia (IDA & IBRD),Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (IDA & IBRD countries),Upper middle income,World
0,1980,3641723322.0,0.0,42346380830.8,0.0,446416105.8,5930503401.0,131431026.7,76961923741.1,0.0,...,8541374599328.6,222633133729.6,52920809050.9,235962175079.4,235962175079.4,281014235675.3,280871358819.8,281014235675.3,1658117418563.1,11336590644916.5
1,1981,3478787909.1,0.0,44348672667.9,0.0,388958731.3,5550483036.0,147841734.4,78676842366.6,0.0,...,8637928003047.8,309460300718.2,54682380537.3,250139444088.2,250139444088.2,388072421659.7,387927210056.8,388072421659.7,1792584208500.0,11727603962156.2
2,1982,0.0,0.0,45207088715.6,0.0,375895956.4,5550483036.0,164369278.9,84307486836.7,0.0,...,8600059519334.6,289551922313.3,54421699623.5,258792394454.4,258792394454.4,356625734424.5,356486445584.4,356625734424.5,1711730545777.3,11609770331649.2
3,1983,0.0,0.0,48801369800.4,0.0,327861832.9,5784341596.4,182144093.0,103979106777.9,0.0,...,8924955878224.4,231702670397.5,52649730943.7,273951470823.6,273951470823.6,313903816535.0,313763854086.1,313903816535.0,1626146012027.4,11840065192866.6
4,1984,0.0,1857338011.9,53698278906.0,0.0,330070689.3,6131475065.2,208372846.3,79092001998.0,0.0,...,9327146561384.7,212187154554.0,52167499323.3,272676947697.2,272676947697.2,274892251646.2,274745689094.8,274892251646.2,1674641532082.2,12271599306473.0

In [14]:
df6 = df5.astype(float)

In [15]:
df6.dtypes

                                              float64
Afghanistan                                   float64
Albania                                       float64
Algeria                                       float64
American Samoa                                float64
                                               ...
Sub-Saharan Africa                            float64
Sub-Saharan Africa (excluding high income)    float64
Sub-Saharan Africa (IDA & IBRD countries)     float64
Upper middle income                           float64
World                                         float64
Length: 267, dtype: object

In [16]:
df6.head()

,,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Post-demographic dividend,Pre-demographic dividend,Small states,South Asia,South Asia (IDA & IBRD),Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Sub-Saharan Africa (IDA & IBRD countries),Upper middle income,World
0,1980.0,3.641723e+09,0.000000e+00,4.234638e+10,0.0,446416105.8,5.930503e+09,131431026.7,7.696192e+10,0.0,...,8.541375e+12,2.226331e+11,5.292081e+10,2.359622e+11,2.359622e+11,2.810142e+11,2.808714e+11,2.810142e+11,1.658117e+12,1.133659e+13
1,1981.0,3.478788e+09,0.000000e+00,4.434867e+10,0.0,388958731.3,5.550483e+09,147841734.4,7.867684e+10,0.0,...,8.637928e+12,3.094603e+11,5.468238e+10,2.501394e+11,2.501394e+11,3.880724e+11,3.879272e+11,3.880724e+11,1.792584e+12,1.172760e+13
2,1982.0,0.000000e+00,0.000000e+00,4.520709e+10,0.0,375895956.4,5.550483e+09,164369278.9,8.430749e+10,0.0,...,8.600060e+12,2.895519e+11,5.442170e+10,2.587924e+11,2.587924e+11,3.566257e+11,3.564864e+11,3.566257e+11,1.711731e+12,1.160977e+13
3,1983.0,0.000000e+00,0.000000e+00,4.880137e+10,0.0,327861832.9,5.784342e+09,182144093.0,1.039791e+11,0.0,...,8.924956e+12,2.317027e+11,5.264973e+10,2.739515e+11,2.739515e+11,3.139038e+11,3.137639e+11,3.139038e+11,1.626146e+12,1.184007e+13
4,1984.0,0.000000e+00,1.857338e+09,5.369828e+10,0.0,330070689.3,6.131475e+09,208372846.3,7.909200e+10,0.0,...,9.327147e+12,2.121872e+11,5.216750e+10,2.726769e+11,2.726769e+11,2.748923e+11,2.747457e+11,2.748923e+11,1.674642e+12,1.227160e+13

In [18]:
df6.to_csv('International_GDP_Clean.csv', index=False)